/* Numele liniilor se specifica in [] */
.site {
    display: grid;
    grid-template-columns: [inceput] 1fr [linia2] 1fr [linia3] 3fr [sfarsit];
    grid-template-rows: [inceput] auto [rand2] 1fr [rand3] 2fr [sfarsit];
}

.masthead {
    grid-column: linia3/sfarsit;
    grid-row: rand2/rand3;
}

.page-title {
    grid-column: inceput/sfarsit;
    grid-row: inceput/rand2;
}

.main-content {
    grid-column: 1/3;
    grid-row: 2/4;
}

.sidebar {
    grid-column: 3/4;
    grid-row: 3/4;
}

.footer-content {
    grid-row: 4;
    grid-column: 1 /span 3;
}